body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}
/* Header/Blog Title */
.header {
	padding: 30px;
	text-align: center;
	background: white;
} 
.header h1 {
	font-size: 50px;
} 